**/__pycache__/
.idea

build/*
dist/*
StatTools.egg-info/*

.vscode/*
.venv/*
.env
StatTools/_version.py
FluctuationAnalysisTools.egg-info/*
wheelhouse/*
.DS_Store
research/out/*
*.so
*.pyd
.clinerules/*
memory-bank/*
.theia/*
.prompts/*
research/kalman_filter/filter_matrices
research/kalman_filter/reconstruction_of_long_term_complex_system_dynamics/data/model_signals
research/kalman_filter/reconstruction_of_long_term_complex_system_dynamics/data/output
