**/__pycache__/
.idea

build/*
dist/*
StatTools.egg-info/*
*.pyd

.vscode/*
.venv/*
.env
StatTools/_version.py
FluctuationAnalysisTools.egg-info/*
wheelhouse/*
.DS_Store
docs/build/*
docs/source/StatTools*
docs/source/modules.rst
